body {
    font-family: "Poppins", sans-serif;
}

header {
    text-align: center;
    padding: 15px;
    font-weight: 600;
    background: #ffffff;
    box-shadow: 0px 4px 40px -20px rgba(0, 0, 0, 0.25);
}

main {
    margin: 0 10%;
    margin-right: 10%;
}

.filtersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}
#botoesContainer {
    display: flex;
    overflow-x: scroll;
    width: 90%;
}
.estiloGeralBotoes {
    border: 1.5px solid rgba(18, 184, 134, 0.05);
    background: rgba(18, 184, 134, 0.05);
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 500;
    color: #12b886;
    font-size: 0.9rem;
    margin-right: 10px;
}
.estiloGeralBotoes--filter:hover {
    background-color: #12b886;
    color: #ffffff;
    transition: ease-in-out 0.2s;
}
.botoesClickStyle {
    background-color: #12b886;
    color: #ffffff;
}
.containerBuscaPorNome {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.campoBuscaPorNome {
    border: none;
    padding: 0 10px;
    background: #f1f3f5;
    border-radius: 8px;
    margin-right: 5px;
    width: 100%;
    color: #515252;
    font-weight: 400;
}
.estiloGeralBotoes--botaoBuscaPorNome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    background: #12b886;
    border: 1.5px solid #12b886;
    border-radius: 8px;
}
.priceContainer {
    display: none;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 10px 20px;
}
.priceContainer div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.priceContainer div img {
    width: 2rem;
}

.priceContainer span {
    background-color: #212529;
    border-radius: 4px;
    color: #fff;
    padding: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
.containerListaProdutos {
    width: 100%;
}
    
.containerListaProdutos ul {
    overflow-x: scroll;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
}
    
.containerListaProdutos ul li {
    border-radius: 8px;
    transition: ease-in-out 0.1s;
    width: 80%;
    margin-bottom: 30px;
    margin: 5%;
}
    
.containerListaProdutos ul li:hover {
    box-shadow: 3px 3px 13px 1px rgb(146 146 146);
}
    
.containerListaProdutos ul li img {
    width: 100%;
}
    
.containerListaProdutos ul li h3 {
    font-size: 1rem;
    font-weight: 500;
    margin: 10px 0 15px;
    color: #212529;
}
    
    
.containerListaProdutos ul li p {
    font-size: 0.8rem;
    color: #868e96;
    font-weight: 400;
    margin: 10px 0;
}
.containerListaProdutos ul li span {
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 10px;
    display: inline-block;
    color: #212529;
}
.containerListaProdutos ul li ol {
    display: none;
    margin-top: 10px;    
    list-style: decimal;
    color: #868e96;
    font-size: 12px;
    margin-left: 15px;
}
.containerListaProdutos ul li ol li {
    margin: 0;
    width: 100%;
 }
.containerListaProdutos ul li button {
    background-color: #12b8860d;
    border-radius: 8px;
    border: #12b8860d 1px solid;
    color: #12b886;
    padding: 2px;
    transition: 0.5s;
}
.containerListaProdutos ul li button:hover {
    background-color: #12b886;
    border: #12b886 1px solid;
    color: white;
}
.containerListaProdutos ul li div {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 180px;
}

.carrinho{
    max-width: 300px;
}
.none{
    display: none;
}

.DivCarrinho{
    display: flex;
    background-color: #12b886;
    width: 100%;
    height: 57px;
    border-radius: 5px;
    align-items: center;
    margin-top: 30px;
}

.DivCarrinho img{
    width: 14px;
    height: 16px;
    margin: 10px;
}

.DivCarrinho h1{
    font-size: 16px;
    line-height: 27px;
    color: #ffffff;
    padding: 5px;
}

.lista-carrinho{
    width: 100%;
    overflow-y: scroll;
    max-height: 150px;
}
.lista-carrinho img{
    margin-left: 100px;
    margin-top: 50px;
    width: 50px;
    height: 50px;
}
.lista-carrinho p{
    font-size: 14px;
    line-height: 24px;
    color: #868E96;
}
.lista-carrinho li{
    display: flex;
}

.lista-carrinho li img{
    width: 80px;
    height: 80px;
    margin: 8px;
}

.lista-carrinho li h3{
    margin: 8px;
    font-size: 14px;
    line-height: 20px;
}
.lista-carrinho li span{
    margin: 8px;
    font-size: 12px;
    line-height: 16px;
}
.lista-carrinho li p{
    margin: 8px;
    font-size: 13px;
    line-height: 22px;
}
.lista-carrinho li button{
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}
.lista-carrinho li button img{
    width: 8px;
    height: 10px;
}

.lixeira{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 150px;
}

.quantidade{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 59px;
}

.quantidade p{
    margin-top: 7px;
    font-size: 15px;
    line-height: 13px;
}

.quantidade span{
    margin-top: 7px;
    font-size: 15px;
    line-height: 13px;
}

.Total{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 59px;
}

.Total p{
    font-size: 15px;
    line-height: 13px;
}

.Total span{
    font-size: 15px;
    line-height: 13px;
}
@media (min-width: 768px){

}
@media (min-width:1024px) {
    body {
        font-family: "Poppins", sans-serif;
    }
    
    /* CABEÇALHO */
    
    header {
    text-align: center;
    padding: 15px;
    font-weight: 600;
    background: #ffffff;
    box-shadow: 0px 4px 40px -20px rgba(0, 0, 0, 0.25);
    }
    
    /* MAIN - PARTE PRINCIPAL */
    
    main {
    margin: 0 70px;
    }
    
    /* FILTROS */
    
    .filtersContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 30px 0;
    }
    
    #botoesContainer {
    display: flex;
    overflow-x: auto;
    }
    
    .estiloGeralBotoes {
    border: 1.5px solid rgba(18, 184, 134, 0.05);
    background: rgba(18, 184, 134, 0.05);
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 500;
    color: #12b886;
    font-size: 0.9rem;
    margin-right: 10px;
    }
    
    .estiloGeralBotoes--filter:hover {
    background-color: #12b886;
    color: #ffffff;
    transition: ease-in-out 0.2s;
    }
    
    .botoesClickStyle {
    background-color: #12b886;
    color: #ffffff;
    }
    
    .containerBuscaPorNome {
    display: flex;
    justify-content: space-between;
    }
    
    .campoBuscaPorNome {
    border: none;
    padding: 0 10px;
    background: #f1f3f5;
    border-radius: 8px;
    margin-right: 5px;
    width: 250px;
    color: #515252;
    font-weight: 400;
    }
    
    .estiloGeralBotoes--botaoBuscaPorNome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    background: #12b886;
    border: 1.5px solid #12b886;
    border-radius: 8px;
    }
    
    /* VALOR TOTAL */
    
    .priceContainer {
        display: none;
        justify-content: space-between;
        align-items: center;
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        padding: 10px 20px;
    }
    
    .priceContainer div {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    
    .priceContainer div img {
        width: 2rem;
    }
    
    .priceContainer span {
        background-color: #212529;
        border-radius: 4px;
        color: #fff;
        padding: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
    }
    
    /*CONTAINER VITRINE*/
    
    .containerVitrine {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    border-radius: 50px 0;
    }
    
    /* CONTAINER DE PRODUTOS */
    
    .containerListaProdutos {
    width: 90%;
    }
    
    .containerListaProdutos ul {
    overflow-x: auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    width: 100%;
    justify-content: flex-start;
    }
    /*overflow-x: scroll;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;*/
    
    .containerListaProdutos ul li {
    border-radius: 8px;
    transition: ease-in-out 0.1s;
    width: 30%;
    margin: 5px;
    }
    
    .containerListaProdutos ul li:hover {
    box-shadow: 3px 3px 13px 1px rgb(146 146 146);
    }
    
    .containerListaProdutos ul li img {
    width: 100%;
    }
    
    .containerListaProdutos ul li h3 {
    font-size: 1rem;
    font-weight: 500;
    margin: 10px 0 15px;
    color: #212529;
    }
    
    
    .containerListaProdutos ul li p {
    font-size: 0.7rem;
    color: #868e96;
    font-weight: 400;
    margin: 10px 0;
    }
    .containerListaProdutos ul li span {
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 10px;
    display: inline-block;
    color: #212529;
    }
.containerListaProdutos ul li ol {
    display: flex;
    flex-direction: column;
    margin-top: 10px;    
    list-style: decimal;
    color: #868e96;
    font-size: 12px;
    margin-left: 15px;
}
.containerListaProdutos ul li ol li {
    margin: 0;
    width: 100%;
}
.containerListaProdutos ul li button {
    background-color: #12b8860d;
    border-radius: 8px;
    border: #12b8860d 1px solid;
    color: #12b886;
    padding: 5px;
    transition: 0.5s;
}
.containerListaProdutos ul li button:hover {
    background-color: #12b886;
    border: #12b886 1px solid;
    color: white;
}
.containerListaProdutos ul li div {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
    
    /* container do Carrinho */
    
.carrinho{
}
    .none{
        display: none;
    }
    
    .DivCarrinho{
        display: flex;
        background-color: #12b886;
        width: 100%;
        height: 57px;
        border-radius: 5px;
        align-items: center;
        margin-top: 30px;
    }
    
    .DivCarrinho img{
        width: 14px;
        height: 16px;
        margin: 10px;
    }
    
    .DivCarrinho h1{
        font-size: 16px;
        line-height: 27px;
        color: #ffffff;
        padding: 5px;
    }
    
    .lista-carrinho{
        width: 100%;
        overflow-y: scroll;
        max-height: 400px;
    }
    .lista-carrinho img{
        margin-left: 100px;
        margin-top: 50px;
        width: 50px;
        height: 50px;
    }
    .lista-carrinho p{
        font-size: 14px;
        line-height: 24px;
        color: #868E96;
    }
    .lista-carrinho li{
        display: flex;
    }
    
    .lista-carrinho li img{
        width: 80px;
        height: 70px;
        margin: 8px;
    }
    
    .lista-carrinho li h3{
        margin: 8px;
        font-size: 14px;
        line-height: 20px;
    }
    .lista-carrinho li span{
        margin: 8px;
        font-size: 12px;
        line-height: 16px;
    }
    .lista-carrinho li p{
        margin: 8px;
        font-size: 13px;
        line-height: 22px;
    }
    .lista-carrinho li button{
        background-color: transparent;
        border: transparent;
        cursor: pointer;
    }
    .lista-carrinho li button img{
        width: 8px;
        height: 10px;
    }
    
    .lixeira{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        min-width: 100px;
    }
    
    .quantidade{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 59px;
    }
    
    .quantidade p{
        margin-top: 7px;
        font-size: 15px;
        line-height: 13px;
    }
    
    .quantidade span{
        margin-top: 7px;
        font-size: 15px;
        line-height: 13px;
    }
    
    .Total{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 59px;
    }
    
    .Total p{
        font-size: 15px;
        line-height: 13px;
    }
    
    .Total span{
        font-size: 15px;
        line-height: 13px;
    }
}